<h1>Welcome</h1>


<h1>Home#index</h1>


<p>Find me in app/views/home/index.html.erb</p>

<div class="boxes">
<%# @questions.each do |q| %>
<p2><div class="media" data-target="<%#= question_path(q) %>">
  <img class="mr-3" src="<%#= q.gravatar %>" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0"><%#= q.email %> asked:</h5>
	<div class="time hidden-xs"><%#= time_ago_in_words q.created_at %></div>
    <div class="hidden-xs"><%#= truncate q.body, length: 300 %></div>
	<div>
		<a href="<%#= question_path(q) %>" class="btn btn-success btn-xs">View Answers</a>
	</div>
  </div>
  </div>
</p2>

<p2><div class="media">
  <img class="mr-3" src="..." alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">Media heading</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
	<div>
		<a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
	</div>
  </div>
  </div>
</p2>

<p2><div class="media">
  <img class="mr-3" src="..." alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">Media heading</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
	<div>
		<a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
	</div>
  </div>
  </div>
</p2>
</div>

<!--> alert -->
<%# if @questions.empty? %>
<div class="alert alert-info">Nothing here yet, be the first to ask?</div>
<%# end %>

<%# end %>